:root {
	--font: 'Open Sans', sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #f78869f4;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--white-color: #ffffff;
	--separator-color: #d4d6e0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0;
}
